
    <% @tasks_group.each do | a, tasks| %>
    
    
      <% if a == false%>
        <h2>Doing</h2>
        <table>
        <thead>
        <tr>
          <th>Username</th>
          <th>Title</th>
          <th>End date</th>
          <th colspan="3"></th>
        </tr>
      </thead>
       
       <% @doing_tasks.each do |task| %>
      
        <tbody>
          <tr>
          <td><%= task.user.username%></td>
          <td><%= task.title %></td>
          <td><%= task.end_date %></td>
          <td><%= link_to 'Show', task %></td>
          <td><%= link_to 'Edit', edit_task_path(task) %></td>
          <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      
      </tbody>
      
      <%end%>
      <% if @uncomplete_tasks.count != 0 %>
       
      </table>
      <table>
      <thead>
        <tr>
          <th>Username</th>
          <th>Title</th>
          <th>End date</th>
          <th colspan="3"></th>
        </tr>
   </thead>
       
       <h2>Uncomplete</h2>
      <% @uncomplete_tasks.each do |task| %>
      
        <tbody>
          <tr>
          <td><%= task.user.username%></td>
          <td><%= task.title %></td>
          <td><%= task.end_date %></td>
          <td><%= link_to 'Show', task %></td>
          <td><%= link_to 'Edit', edit_task_path(task) %></td>
          <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      
      </tbody>
      
      <%end%>
      </table>
      <%end%>
      <%else%>
      
        
        <table>
        <thead>
        <tr>
          <th>Username</th>
          <th>Title</th>
          <th>End date</th>
          <th colspan="3"></th>
        </tr>
   </thead>
   <h2>Complete</h2>
        <% @complete_tasks.each do |task| %>
      
        <tbody>
          <tr>
          <td><%= task.user.username%></td>
          <td><%= task.title %></td>
          <td><%= task.end_date %></td>
          <td><%= link_to 'Show', task %></td>
          <td><%= link_to 'Edit', edit_task_path(task) %></td>
          <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      
      </tbody>
      <%end%>
      <%end%>
      <%end%>
      </table>
      


<br>

<%= link_to 'New Task', new_task_path, class: "button"  %>
