<p id="notice"><%= notice %></p>

<div class="row">
  <div class="large-4 columns"></div>
  <div class="large-8 columns">
   <p><strong>Username:</strong> <%= @task.user.username %></p> 
   <p><strong>Title:</strong> <%= @task.title %></p>
   <p><strong>Description:</strong><%= @task.description %></p>
   <p><strong>Duration time:</strong><%= @task.duration_time %></p>
   <p><strong>Starting date:</strong><%= @task.starting_date %></p>
   <p><strong>End date:</strong><%= @task.end_date %></p>
   <p><strong>Finish:</strong><%= @task.finish %></p>
  </div>
</div>




<%= link_to 'Edit', edit_task_path(@task), :class => "button" %> 
<%= link_to 'Back', tasks_path, :class => "button secondary" %>
